/*zadanie 1*/
.mobile-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(green, 0.5);

  .mobile & {
    display: none;

    &.active {
      display: block;
    }
  }


  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: 10px;
    }
  }
}
.mobile-switcher {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;

  .mobile & {
    display: block;
  }
}
