/*zadanie 0*/
body {
  background: yellow;

  @media only (min-width: 420px) {
    background: none;
  }
}

/*zadanie 1*/
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px;
}
.container {
  div.sidebar,
  section {
    padding: 100px 0;
    background: rgb(0, 87, 132);
    text-align: center;
    color: #FFF;
    margin-bottom: 15px;

    h1 {
      font-size: 30px;
    }

    @media only (min-width: 600px) {
      float: left;
      width: 30%;
    }
  }
  div.sidebar {
    background: rgb(33, 33, 36);
  }

  section {
    @media only (min-width: 600px) {
      width: 70%;
    }
  }
}
