/* zadanie 0*/
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.test-mixin {
  .left_box,
  .right_box {
      width: 50%;
  }

  .left_box {
    float: left;
  }
  .right_box {
    float: right;
  }

  @include clearfix;
}

/*zadanie 1*/
@mixin pusheen-border($color) {
  border-top: 1px solid $color;
  border-right: 1px solid lighten($color, 20%);
  border-left: 2px dashed darken($color, 20%);
  border-bottom: 0;
  border-radius: 5px;
}

header {
  max-width: 500px;
  margin: 0 auto;
  background: rgba(red, 0.2);
  @include pusheen-border(aqua);
}


/*zadanie 2*/
@mixin arrow($direction) {
  width: 0;
  height: 0;

  @if($direction == 'top')  {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  @if($direction == 'bottom')  {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
  }

  @if($direction == 'right')  {
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
  }

  @if($direction == 'left')  {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid blue;
  }
}

header {
  a {
    @include arrow('bottom');
    text-indent: -9999px;
    display: block;
  }
}
