/*zadanie 0*/
.container {
  .row {
    > div {
      float: left;
    }
    // .col-1 {
    //   width: (100% / 12);
    // }
    // .col-2 {
    //   width: (100% / 12)*2;
    // }

    @for $i from 1 through 12 {
      .col-#{$i} {
        width: (100% / 12) * $i;
      }
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

/*zadanie 1*/
.header {
  background: purple;
  height: 50px;
}

.el {
  height: 20px;
  background: blue;
  margin-top: 10px;
}

.content {
  background: yellow;
  margin-top: 10px;
}

.menu {
  margin-top: 10px;
  background: blue;
}

.footer {
  margin-top: 20px;
  background: blue;
}
