/*zadanie 0*/
body {
  article {
    display: flex;

    section {
      width: 15%;
      background: red;
      height: 100px;

      &:nth-child(odd) {
        background: green;
      }

      &.big {
        width: 100% - (15% * 3);
      }
    }
  }
}

/*zadanie 1*/
.list {
  justify-content: center;
  display: flex;
  list-style-type: none;
}

/*zadanie 2*/
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.circles {
  @include flexbox;
  flex-wrap: wrap;

  div {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    width: 25px;
    height: 25px;
    background: rgba(red, 0.5);
    padding: 50px;
    border-radius: 50%;
  }
}

/*zadanie 3*/
* {
  margin: 0;
  padding: 0;
}
.crazy-layout {
  margin-top: 50px;

  div {
    @include flexbox;

    div {
      margin: 10px;
      flex-grow: 1;

      background: aqua;
      padding: 25px 0;
      color: grey;
      justify-content: center;
    }
  }
  .row2 {
    @media only (max-width: 420px) {
      flex-direction: column;
    }
  }
  .row3 {
    @media only (max-width: 420px) {
      flex-wrap: wrap;
      flex-direction: row-reverse;

      div {
        width: calc(50% - 20px);
      }
    }
  }

  .row4 {
    flex-wrap: wrap;

    .col-8 {
      flex-grow: 2;
    }
    .col-10 {
      width: 100%;
    }

    @media only (max-width: 420px) {
      .col-8 {
        order: 1;
      }
      .col-9 {
        order: 3;
      }
      .col-10 {
        order: 2;
      }
    }
  }
}
