/*zadanie 0*/
.images {
  display: flex;

  img {
    width: 50%;
  }
  div {
    width: 50%;
    background-image: url('../images/rabbit.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only (max-width: 800px) {
    flex-direction: column;

    img, div {
      width: 100%;
    }
    div {
      min-height: 500px;
      background-size: contain;
    }
  }
}

/*zadanie 1*/
.one-image {
  margin: 20px auto;
  width: 240px;
  height: 135px;
  border: 2px solid red;

  img {
    max-width: 100%;
  }
}

.one-image-bg {
  margin: 20px auto;
  width: 480px;
  height: 135px;
  border: 2px solid red;
  background-image: url('../images/rabbit.png');
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
