/*zadanie 1*/
$czerwony: lighter(red, 40%);

/*zadanie 2*/
@for $i from 1 through 4 {
  h#{$i} {
    color: lighten(red, ($i - 1) * 15%);
  }
}

/* zadanie 1*/
$number: 2;
p {
  font-size: percentage($number);
}

/* zadanie 2*/
$color1: red;
$color2: blue;

p {
  color: mix($color1, $color2);
}

/* zadanie 3*/
$number1: 10px;
$number2: 100px;

@function add($a, $b) {
  @return $a + $b;
}
p {
  margin-top: add($number1, $number2);
}
