$brand-color: red;
$brand-logo: yellow;
$space-top: 20px;

* {
  margin: 0;
  padding: 0;
}

/* komentarze */

body {
  background: $brand-color;
  color: #fafafa;
  padding: 10px;
}

//.menu

ul.menu {
  color: $brand-logo;
}
section {
  padding: $space-top 0;
}
