$with-of-page: 1000px;
$brand-color: blue;
$brand-logo: yellow;
$menu-bg: aqua;
$space-top: 20px;

* {
  margin: 0;
  padding: 0;
}

/* zadanie 0 */
.main-width {
  width: $with-of-page;
  margin: 0 auto;

  ul {
    li {
      color: $brand-color;

      &:first-child {
        color: $brand-logo;
      }
    }
  }
}

/* zadadnie 1 */
.menu {
  background: $menu-bg;

  li {
    display: inline-block;
    padding-left: 10px;
  }
}

header {
  border-bottom: 2px solid $menu-bg;
}

.main-width {
  width: $with-of-page;
  margin: 0 auto;
}


/* zadanie 2 */
.menu {
  li {
    a {
      &:hover {
        color: red //!important;
      }
    }
    &:first-child {
      a {
        color: orange;

        &:hover {
          color: red;
        }
      }
    }
    &:last-child {
      a {
        color: green;

        &:hover {
          color: red;
        }
      }
    }
  }
}

/*zadanie 3*/
footer {
  .menu {
    li {
      display: inline-block;

      &:hover {
        color: rgba(90, 90, 90, 0.5);
      }

      &:last-child {
        float: right;
      }
    }
  }
}
